*{
    
    box-sizing: border-box;
    scroll-behavior: smooth;
    scroll-padding:10rem;
}
body, ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 'Quicksand', sans-serif;
}

body {
    font-family: 'Quicksand', sans-serif;
    background-color:#F5F5DC;
}

header {
    background-color:#808000;
    color: #fff;
    padding: 20px;;
    text-align: center;
}

nav ul {
    display: flex;
    justify-content:flex-end;
    padding: 0;
    
}

nav a {
    text-decoration: none;
    color: #fff;
    padding: 20px;
    margin: 20px;
    
}
header a:hover{
    
    color:cornsilk;

}

section {
    padding: 20px;
}

h1 {
    font-size: 48px;
    font-weight: 500;
    font-family: 'Quicksand', sans-serif;

}
footer {
    background-color:#808000;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}
button{
    margin:10px;
    padding:15px;
    border-radius:220px;
    background-color:olive;
    border-width:50%;
    box-shadow: 0 5px 5px;


}
button a{
    text-decoration: none;
    color: white;
    
}
.flex-container{
    display:flex;
    justify-content: space-around;
    gap: 80px;

}
.flex-container1{
    display:flex;
    justify-content: space-around;
    gap: 80px;
    

}

.flex1{
    outline:3px groove;
    padding:25px;
    margin:10px;
}
.parent{
    display:flex;
    
    
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}
.flex{
    outline:3px groove;
    padding:20px;
    margin: 10px;

}
.child{
    display:flex;
    justify-content:space-evenly;
    align-items: center;
    padding: 60px 100px;

}

  


